In [1]:
l1 = ['1','123','123','12','1','123']
l2 = [2,4,-2,-3,0,11,3,-1]
d4 = {1:10, 2:20, 3:30, 4:40, 5:50, 6:60}
d5 = {'a':3, 'b':4, 'c':5, 'd':6, 'e':7, 'f':21, 'g':9}
d6 = {'e':20, 'f':21, 'g':22, 'h':23, 'i':24, 'j':25, 'k':26, 'l':27}

In [2]:
# 4.13)
l_13 = [len(i) for i in l1]
l_13

[1, 3, 3, 2, 1, 3]

In [3]:
# 4.14)
len([i for i in l1 if len(i)>2])

3

In [9]:
# 4.15)
sum([k*v for (k,v) in d4.items()])

910

In [10]:
# 4.16)
d7 = {k:v for k,v in d6.items() if k not in d5}
d7

{'h': 23, 'i': 24, 'j': 25, 'k': 26, 'l': 27}

In [11]:
# 4.17)
l_17 = [i*l2.index(i) for i in l2]
l_17

[0, 4, -4, -9, 0, 55, 18, -7]

In [15]:
# 4.18)
l_18 = [i for i in l2 if i >= 0]
l_18

[2, 4, 0, 11, 3]

In [14]:
# 4.19)
l_19 = [i if i >= 0 else l2.index(i) for i in l2]
l_19

[2, 4, 2, 3, 0, 11, 3, 7]

In [34]:
# 5.1)
def multiplication_1(a,b):
    """функция multiplication_1 вернет произведение двух чисел"""
    return a*b

In [35]:
multiplication_1(2,3)

6

In [36]:
multiplication_1(4.6,2.3)

10.579999999999998

In [72]:
# 5.3) и 5.4)
def multiplication_2(*t):
    rez = 1
    for i in t:
        rez *= i
    return rez

In [73]:
# 5.3)
a1 = (15,10,5)
a2 = (3,1)
a3 = [2,35,55]
a4 = (5,10,15,20)

In [74]:
multiplication_2(*a1)

750

In [75]:
multiplication_2(*a2)

3

In [76]:
multiplication_2(*a3)

3850

In [77]:
multiplication_2(*a4)

15000

In [78]:
multiplication_2(*a4[:3])

750

In [79]:
multiplication_2(*a4[-3:])

3000

In [81]:
# 5.5)
def operation(op):
    """функция для осуществления указанной пользователем операции над числами 6 и 3"""
    a = '6'
    b = '3'
    rez = eval(a + op + b)
    return rez

In [82]:
operation('+')

9

In [83]:
operation('-')

3

In [84]:
operation('*')

18

In [85]:
operation('/')

2.0

In [115]:
# 5.6)
def calc(op):
    if '^' in op:
        rez = eval(op.replace('^','**'))
    else:
        rez = eval(op)
    return rez

In [116]:
calc('7 + 3')

10

In [117]:
calc('7 - 3')

4

In [118]:
calc('7 * 3')

21

In [119]:
calc('6 / 3')

2.0

In [120]:
calc('7 % 3')

1

In [121]:
calc('2 ^ 3')

8

In [124]:
# 5.7)
def auto(марка='BMW',модель='X5',цвет='белый',год=2006,пробег=215000,номер='X012AM77',цена=1115000):
    return f'Автомобиль марки: {марка}, модели: {модель}, цвета: {цвет}, {год} года выпуска, с пробегом: {пробег} км, с номерным знаком {номер}, цена: {цена} руб'

In [125]:
auto()

'Автомобиль марки: BMW, модели: X5, цвета: белый, 2006 года выпуска, с пробегом: 215000 км, с номерным знаком X012AM77, цена: 1115000 руб'

In [127]:
auto(цвет='синий',номер='АХ8698ВР')

'Автомобиль марки: BMW, модели: X5, цвета: синий, 2006 года выпуска, с пробегом: 215000 км, с номерным знаком АХ8698ВР, цена: 1115000 руб'

In [126]:
auto(марка='VOLVO',модель='XC40',цвет='черный',год=2018,пробег=15000,номер='АХ0713КА',цена=2385000)

'Автомобиль марки: VOLVO, модели: XC40, цвета: черный, 2018 года выпуска, с пробегом: 15000 км, с номерным знаком АХ0713КА, цена: 2385000 руб'

In [128]:
# ДЛЯ 5.8) и 5.9)
a = ['ноль','один','два','три','четыре','пять','шесть','семь','восемь','девять']
b = ['одиннадцать','двенадцать','тринадцать','четырнадцать','пятнадцать','шестнадцать','семнадцать','восемнадцать','девятнадцать']
c = ['десять','двадцать','тридцать','сорок','пятьдесят','шестьдесят','семьдесят','восемьдесят','девяносто']
c1 = [10,20,30,40,50,60,70,80,90]
d1 = dict(zip(a,range(10)))
d2 = dict(zip(b,range(11,20)))
d3 = dict(zip(c, c1))

In [181]:
# 5.8)
def to_text(n):
    for k1,v1 in d1.items():
        for k2,v2 in d2.items():
            for k3,v3 in d3.items():
                if n < 10:
                    if n == v1:
                        rez = k1
                elif n == v2:
                    rez = k2
                elif n == v3:
                    rez = k3
                else:
                    if int(str(n)[0])*10 == v3 and int(str(n)[1]) == v1:
                        rez = k3 + ' ' + k1 
    return rez

In [183]:
to_text(5)

'пять'

In [184]:
to_text(15)

'пятнадцать'

In [185]:
to_text(20)

'двадцать'

In [186]:
to_text(23)

'двадцать три'

In [187]:
# 5.9)
import re
e = ['сто','двести','триста','четыреста','пятьсот','шестьсот','семьсот','восемьсот','девятьсот']
e1 = [100,200,300,400,500,600,700,800,900]
d4 = dict(zip(e,e1))
def to_int(n):
    for k1,v1 in d1.items():
        for k2,v2 in d2.items():
            for k3,v3 in d3.items():
                for k4,v4 in d4.items():
                    if n == k1:
                        rez = v1
                    elif n == k2:
                        rez = v2
                    elif n == k3:
                        rez = v3
                    elif n == k4:
                        rez = v4
                    else:
                        l = re.split(' ', n)
                        if len(l) == 2:
                            if l[0] == k3 and l[1] == k1:
                                rez = v3 + v1
                            elif l[0] == k4 and l[1] == k1:
                                rez = v4 + v1
                            elif l[0] == k4 and l[1] == k3:
                                rez = v4 + v3
                        elif len(l) == 3:
                            if l[0] == k4 and l[1] == k3 and l[2] == k1:
                                rez = v4 + v3 + v1
    return rez

In [188]:
to_int('два')

2

In [189]:
to_int('двенадцать')

12

In [190]:
to_int('двадцать')

20

In [194]:
to_int('двести')

200

In [191]:
to_int('двадцать два')

22

In [192]:
to_int('сто два')

102

In [193]:
to_int('сто двадцать')

120

In [195]:
to_int('двести двадцать два')

222

In [196]:
# 6.1)
import re
a = ['ноль','один','два','три','четыре','пять','шесть','семь','восемь','девять']
b = ['одиннадцать','двенадцать','тринадцать','четырнадцать','пятнадцать','шестнадцать','семнадцать','восемнадцать','девятнадцать']
c = ['десять','двадцать','тридцать','сорок','пятьдесят','шестьдесят','семьдесят','восемьдесят','девяносто']
d = ['плюс','минус','умножить на']

# списки для вывода ответа
e = ['сто','двести','триста','четыреста','пятьсот','шестьсот','семьсот','восемьсот','девятьсот']
f = ['одна','две','три','четыре','пять','шесть','семь','восемь','девять']
s = input('Введите пример: ')
l = re.split(' ', s)
if 'на' in l:
    l.pop(l.index('на'))
# Функция для определения операндов
def operand(ind1,ind2): 
    
    for i in range(10):  
        for j in range(9):
            if l[ind2] in d:           # если число односоставное
                if l[ind1] == a[i]:
                    n = i
                elif l[ind1] == b[j]:
                    n = (j+1) + 10
                elif l[ind1] == c[j]:
                    n = (j+1)*10 
            if l[ind2] not in d:       # если число двусоставное
                if l[ind2] == a[i] and l[ind1] == c[j]:   # первое число двусоставное
                    n = (j+1)*10 + i 
                if l[ind1] == a[i] and l[ind2] == c[j]:   # второе число двусоставное
                        n = (j+1)*10 + i 
    return n
    
# Вывод результата
def calc(l):
    
    n1 = operand(0,1)     # цифровой вид первого число
    n2 = operand(-1,-2)   # цифровой вид второго числа
    
    # СЧИТАЕМ
    for i in range(1):
        if l[1] in d:                  # случай, когда первое число односоставное
            if l[1] == d[0]:
                r = n1+n2
            elif l[1] == d[1]:
                r = n1-n2
            else:
                r = n1*n2
        elif l[2] in d:                # случай, когда первое число двусоставное (длина второго числа не влияет на ситуацию)
            if l[2] == d[0]:
                r = n1+n2
            elif l[2] == d[1]:
                r = n1-n2
            else:
                r = n1*n2
        if r >= 0:                     # если ответ положительный 
            r1 = str(r)                
        else:                          # если ответ отрицательный 
            r1 = str(r).replace('-','')  
        rez = []
        
    # Выводим результат в виде слов    
    if len(r1) == 1:                
        rez.append(a[int(r1[-1])])
    if len(r1) >= 2:                
        if 10 < int(r1[-2:]) < 20:
            rez.append(b[int(r1[-1])-1])
        elif int(r1[-2:]) % 10 == 0:
            rez.append(c[int(r1[-2])-1])
        else:
            rez.append(a[int(r1[-1])])
            rez.append(c[int(r1[-2])-1])
    if len(r1) >= 3:
        rez.append(e[int(r1[-3])-1])
    if len(r1) >= 4:
        if int(r1[-4]) == 1:
            rez.append('тысяча')
        elif 1 <= int(r1[-4]) <= 4:
            rez.append('тысячи')
        else:
            rez.append('тысяч')
        rez.append(f[int(r1[-4])-1])
    if r < 0:
        rez.append('минус')
    rez.reverse()
            
    print(*rez)
            
calc(l)

Введите пример: двадцать два умножить на двадцать два
четыреста восемьдесят четыре